@{
    ViewData["Title"] = "Fakta";
}

<h1>About</h1>

<div class="flexbox flex-align-i-center row">
    <div>
        <p class="large">Princess Ophelia född 1993 efter Lyphazia undan Cutaway</p>
        <p class="large">Ras: Engelskt fullblod</p>
    </div>
    <img src="~/images/_MG_2890.jpg" alt="fotografi av häst">

</div>
<br />
<div class="flexbox flex-align-i-center row flex-justify-space-around wrap">
    <img src="~/images/portr.png" alt="fotografi av häst">
    <p class="middle">
        Ophelia gick först som galopphäst men presterade inte väl i tävling.
        Därefter skolades hon om till vanlig ridhäst och såldes till mig när jag var 13 år.
        Under sin livstid har hon tävlat i både hoppning och fälttävlan. Hon kanske gjorde sig allra bäst i det senare.
    </p>
</div>
<div class="flexbox flex-align-i-center row flex-justify-space-around wrap">
    <p class="large">År 2006 fick Ophelia ett hingstföl, Heros, efter hopphästen Hiphop</p>
    <img src="~/images/_MG_2876.jpg" alt="fotografi av häst">

</div>
