@{
    ViewData["Title"] = "Startsida";
}


<div>
    <h1>Välkommem</h1>
    <div class="flexbox flex-align-i-center row padd">
        <p>
            Engelskt fullblod är en hästras som benämns som förädlare. Fullblod är ädla och smäckra hästar som har välutvecklat bröstparti vilket ger den str lungkapacitet och gör den
            snabb och uthållig. Rasen avänds kanske främst innom galopp tävlingar men är även lämplig som fälttävlanshästar.
        </p>
        <img src="~/images/dallas-reedy-7nQM55ZcjLg-unsplash.jpg" alt="fotografi av häst" class="padd">

    </div>
    <div class="flexbox flex-align-i-center row padd">
        <img src="~/images/keith-luke-aR3u_uvg0BQ-unsplash.jpg" alt="fotografi av häst" class="padd">
        <p>
            Engelskt fullblod är en häst med mycket temeprament och som ÄLSKAR att springa och kan komma upp i 70km/h.
        </p>

    </div>
    <div class="flexbox flex-align-i-center row padd">

        <p>
            Hästen är skapt för att leva på karga betesmarker och äta nästan dygnet runt och kan därför inte känna mättnadskänslor.
            Därför är det viktigt att ha koll på hästens utfodring.
            För att anpassa utfodringen på bästa sätt kan det vara bra att ta reda på vad hästen väger.
        </p>
        <img src="~/images/sheri-hooley-yTCdDlX_eG0-unsplash.jpg" alt="fotografi av häst" class="padd">
    </div>
</div>